* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Poppins';
}

main {
  width: 100vw;
  height: 100vh;
  background: #121214;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 95%;
  height: 93%;
  background: #121214;
  box-shadow: 0 0 70px rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
}

.background {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background img {
  width: 75%;
}

.content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo h1 {
  font-size: 42px;
  font-weight: 600;
  color: #fff;
}

.logo span {
  font-weight: 300;
}

.content form {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.icon-input{
  border: 2px solid #8257E6;
  padding: 8px;
  margin: 5px 0 15px;
  display: flex;
  flex-direction: row;
}

label {
  font-size: 16px;
  color: #fff;
  font-weight: 300;
}

i {
  font-size: 16px;
  color: #916beb;
  margin-right: 10px;
}

input {
  background: none;
  border: none;
  color: #fff;
  width: 90%;
}

button {
  background: none;
  border: 2px solid #8257E6;
  color: #8257E6;
  padding: 9px;
  cursor: pointer;
  box-shadow: 0 0 10px #8257e673;
}

button:hover{
  background: #8257E6;
  color: #fff;
  box-shadow: 0 0 30px #8257e673;
  transition: 0.5s;
  
}

button, .icon-input {
  border-radius: 6px;
}

form span {
  display: none;
  color: red;
  font-size: 12px;
  margin-top: -7px;
}

form p {
  margin-top: 10px  ;
  font-size: 13px;
  color: #fff;
  font-weight: 300;
}

form p a{
  color: #8257E6;
  text-decoration: none;
}



/* Cor de fundo do autocomplete */
input:-webkit-autofill {
  box-shadow: 0 0 0 30px #121214 inset !important;
}

/* Cor do texto do autocomplete */
input:-webkit-autofill {
  -webkit-text-fill-color: #fff !important;
}

@media (max-width: 768px){
  .logo h1 {
    font-size: 30px;
  }
}

@media (max-width: 550px){
  .logo h1 {
    font-size: 23px;
  }
}